body {
	font-family: 'Nunito Sans', sans-serif;;
	font-size: 18px;
	line-height: 20px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

a:visited {
	color: none;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.slide{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 50vw;
	background-color: black;
	color: white;
}

.header {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	padding: 65px 50px 50px 50px;
}

.headerinfo {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	padding: 0px 50px 10px 50px;
}

.intro {
	padding: 0px 0px 5px 0px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	margin: 0px 50px 50px 50px;
	padding: 5px;
	border-top:1.5px solid black;
	border-bottom:1.5px solid black;
}

.toggle-menu {
	margin-right: 8px;
	display: inline-block;
}

.toggle-menu:hover {
	cursor: pointer;
	color: grey;
}

.menu-content {
	display: none;
	width: 100%;
	padding: 15px 0px 15px 0px;
}

.container {
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-overflow: wrap;
	width: 100%;
}

.piccontainer {
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100vw;
	padding: 0px 50px 10px 50px;
}

.square {
	width:29vw;
	height: 18vw;
	display: inline-flex;
	justify-content: center;
	align-items: center; 
	margin-bottom:15px;
	margin-top: 10px;
}

.info {
	object-fit: cover;
	width: 29vw;
	height: 18vw;
}

.info:hover {
	background-color: lightgrey;
	opacity: 40%;
}

.slide-in {
	display: block;
	
}

h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10vh;
	line-height: 9.5vh;
	color: black;
	font-weight: bold;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 7vh;
	color: black;
	margin-bottom: 5vh;
	font-weight: bold;
	line-height: 7vh;
}

h3 {
	font-size: 3vh;
	font-style: italic;
	opacity: 50%;
}

p {
	margin-bottom: 3vh;
}

i {
	font-style: italic;
}

b {
	font-weight: normal;
}

.date {
	font-size: 12px;
	font-style: italic;
	opacity: 50%;
	margin-bottom: 1vh;
}

.blogdate {
	font-size: 3vh;
	font-style: italic;
	opacity: 50%;
	margin-bottom: 1vh;
}

.toggle-content {
	display: none;
	font-size: 12px;
	line-height: 14px;
	text-overflow: wrap;
	padding-bottom: 8px;
}

.logo {
	height:50vh;
}

.photo {
	width: 92vw;
	margin-bottom: 3vh;
	object-fit: cover;
}

.photo2 {
	width:45vw;
	margin-bottom: 3vh;
	object-fit: cover;
}

.photo3 {
	width:30vw;
	margin-bottom: 3vh;
	object-fit: cover;
}

.photo4 {
	width:22.5vw;
	margin-bottom: 3vh;
	object-fit: cover;
}

.photo6 {
	width:15vw;
	justify-content: center;
	margin-bottom: 3vh;
	object-fit: cover;
}

iframe {
	width: 100vw;
	height: 90vh;
	margin-bottom: 3vh;
}

.half {
	width: 45vw;
	height: 50vh;
	margin-bottom: 3vh;
}

.two {
	width: 31.5vw;
	height: 31.5vh;
}

.blog {
	width: 70vw;
	height: 100vh;
}
