body {
	font-family: 'Nunito Sans', sans-serif;;
	font-size: 18px;
	line-height: 20px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.slide{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 49vw;
	background-color: black;
	color: white;
}

.header {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	padding: 90px 50px 50px 50px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	margin: 0px 50px 50px 50px;
	padding: 5px;
	border-top:1.5px solid black;
	border-bottom:1.5px solid black;
}

.toggle-menu {
	margin-right: 8px;
	display: inline-block;
}

.menu-content {
	display: none;
	width: 100%;
	padding: 15px 0px 15px 0px;
}

.container {
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-overflow: wrap;
	width: 100%;
}

.square {
	width:29vw;
	height: 18vw;
	display: inline-flex;
	justify-content: center;
	align-items: center; 
	margin-bottom:15px;
	margin-top: 10px;
}

img {
	object-fit: cover;
	width: 29vw;
	height: 18vw;
}

img:hover {
	background-color: lightgrey;
	opacity: 40%;
}



.left {
	color: black;
	flex:0 0 30%;
	height: 100vh;
	overflow: scroll;
	padding: 40px;
}

.right {
	color: black;
	flex:0 0 70%;
	height: 100vh;
	overflow: scroll;	
	padding: 40px;
	display: flex;
}

.panel {
	width: 70vw;
	height: 100vh;
	position: fixed;
	top:0;
	right: 0;
	overflow: scroll;
	display: none;
	padding: 30px;
	background-color: white;
}

.slide-in {
	display: block;
	
}

h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10vh;
	line-height: 9.5vh;
	color: black;
	font-weight: bold;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 7vh;
	color: black;
	margin-bottom: 7vh;
	font-weight: bold;
	line-height: 7vh;
}

h3 {
	font-size: 3vh;
	font-style: italic;
	opacity: 50%;
}

p {
	margin-bottom: 3vh;
}

i {
	font-style: italic;
}

b {
	font-weight: normal;
}

.date {
	font-size: 12px;
	font-style: italic;
	opacity: 50%;
	margin-bottom: 1vh;
}

.blogdate {
	font-size: 3vh;
	font-style: italic;
	opacity: 50%;
	margin-bottom: 1vh;
}

.toggle-title {
	border-top:1.5px solid black;
	cursor: pointer;
	font-size: 1.7vw;
	height: 40px;
	padding-top: 9px;
}

.toggle-title:hover {
	opacity: 50%;
}

.toggle-content {
	display: none;
	font-size: 12px;
	line-height: 14px;
	text-overflow: wrap;
	padding-bottom: 8px;
}

.item {
	padding: 2px;
}

.item:hover {
	opacity: 50%;
	cursor: pointer;
	color: mediumturquoise;
}

.middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 67vw;
	padding-right: 2vw;
}

.logo {
	height:50vh;
}

.photo {
	width: 65vw;
	margin-bottom: 3vh;
	object-fit: contain;
}

.photo2 {
	width:31.5vw;
	margin-bottom: 3vh;
	object-fit: contain;
}

.photo3 {
	width:20vw;
	margin-bottom: 3vh;
	object-fit: contain;
}

.photo6 {
	width:10vw;
	justify-content: center;
	margin-bottom: 3vh;
	object-fit: contain;
}

iframe {
	width: 65vw;
	height: 65vh;
	margin-bottom: 3vh;
}

.two {
	width: 31.5vw;
	height: 31.5vh;
}

.blog {
	width: 70vw;
	height: 100vh;
}
